# Introduction to Deep Learning & Neural Networks with Keras
Week 5 Assignment : Build a Regression Model in Keras

## Objective for this Notebook

In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

## Download and Clean Dataset

In [66]:
import pandas as pd
import numpy as np

In [67]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

### Check the data information 

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them.\
Ingredients include:
1. Cement
2. Blast Furnace Slag
3. Fly Ash
4. Water
5. Superplasticizer
6. Coarse Aggregate
7. Fine Aggregate

In [68]:
concrete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [69]:
display(round(concrete_data.describe(),2))

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.00,1030.00,1030.00,1030.00,1030.00,1030.00,1030.00,1030.00,1030.00
mean,281.17,73.90,54.19,181.57,6.20,972.92,773.58,45.66,35.82
std,104.51,86.28,64.00,21.35,5.97,77.75,80.18,63.17,16.71
min,102.00,0.00,0.00,121.80,0.00,801.00,594.00,1.00,2.33
25%,192.38,0.00,0.00,164.90,0.00,932.00,730.95,7.00,23.71
50%,272.90,22.00,0.00,185.00,6.40,968.00,779.50,28.00,34.44
75%,350.00,142.95,118.30,192.00,10.20,1029.40,824.00,56.00,46.14
max,540.00,359.40,200.10,247.00,32.20,1145.00,992.60,365.00,82.60

### Split data into predictors and target

In [70]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

## A. Build a baseline mode
Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function
- Use the adam optimizer and the mean squared error as the loss function.

### Import packages from  Keras and sklearn

In [71]:
import tensorflow as tf
from tensorflow import keras  
from keras import Sequential
from keras.layers.core import Dense

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

### 1. Split the data into a training and test sets
Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

In [72]:
X = predictors
y = target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
n_cols = X_train.shape[1]

In [73]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [74]:
# build the model
model = regression_model()

### 2. Train the model on the training data using 50 epochs.

In [75]:
model.fit(X_train, y_train, epochs=50, verbose = 0)

### 3.  Evaluate the model
Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [76]:
y_predict = model.predict(X_test)
MSE = mean_squared_error(y_test, y_predict)
print(MSE)

459.16501861109157

### 4. Create a list of 50 MSE
Repeat steps 1 - 3, 50 times

In [77]:
MSE = []
for k in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
    model = regression_model()
    model.fit(X_train, y_train, epochs=50, verbose = 0)
    y_predict = model.predict(X_test)
    MSE.append(mean_squared_error(y_test, y_predict))

### 5. Report
Report the mean and the standard deviation of the mean squared errors.

In [78]:
MSE_A = pd.DataFrame(MSE, columns =['MSE_A'], dtype=float)
MSE_A.sort_values(by='MSE_A')

from statistics import mean, stdev
mean_MSE_A = mean(MSE)
std_MSE_A =stdev(MSE)
print(f' The mean of the mean squared errors is {mean_MSE_A}')
print(f' The standard deviation of the mean squared errors is {std_MSE_A}')

 The mean of the mean squared errors is 335.7657509889011
 The standard deviation of the mean squared errors is 425.6367193693339

## B. Normalize the data 
- Repeat Part A but use a normalized version of the data. 
- Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.
- How does the mean of the mean squared errors compare to that from Step A?

In [79]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [80]:
X = predictors_norm
y = target
MSE = []

for k in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
    model = regression_model()
    model.fit(X_train, y_train, epochs=50, verbose = 0)
    y_predict = model.predict(X_test)
    MSE.append(mean_squared_error(y_test, y_predict))

In [81]:
MSE_B = pd.DataFrame(MSE, columns =['MSE_B'], dtype=float)
MSE_B.sort_values(by='MSE_B')

mean_MSE_B = mean(MSE)
std_MSE_B =stdev(MSE)
print(f' The mean of the mean squared errors is {mean_MSE_B}')
print(f' The standard deviation of the mean squared errors is {std_MSE_B}')

 The mean of the mean squared errors is 365.3294628332381
 The standard deviation of the mean squared errors is 96.34162845209775

## C. Increate the number of epochs

- Repeat Part B but use 100 epochs this time for training.
- How does the mean of the mean squared errors compare to that from Step B?

In [82]:
X = predictors_norm
y = target
MSE = []

for k in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
    model = regression_model()
    model.fit(X_train, y_train, epochs=100, verbose = 0)
    y_predict = model.predict(X_test)
    MSE.append(mean_squared_error(y_test, y_predict))

In [83]:
MSE_C = pd.DataFrame(MSE, columns =['MSE_C'], dtype=float)
MSE_C.sort_values(by='MSE_C')


mean_MSE_C = mean(MSE)
std_MSE_C =stdev(MSE)
print(f' The mean of the mean squared errors is {mean_MSE_C}')
print(f' The standard deviation of the mean squared errors is {std_MSE_C}')

 The mean of the mean squared errors is 170.45961969607362
 The standard deviation of the mean squared errors is 14.716903822206659

## D. Increase the number of hidden layers

- Repeat part B but use a neural network with the following instead:\
 Three hidden layers, each of 10 nodes and ReLU activation function.

- How does the mean of the mean squared errors compare to that from Step B?

In [84]:
# define regression model
def regression_model_3():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [85]:
# build the model
model = regression_model_3()

In [89]:
X = predictors_norm
y = target
MSE = []

for k in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
    model = regression_model()
    model.fit(X_train, y_train, epochs=50, verbose = 0)
    y_predict = model.predict(X_test)
    MSE.append(mean_squared_error(y_test, y_predict))

In [90]:
MSE_D = pd.DataFrame(MSE, columns =['MSE_D'], dtype=float)
MSE_D.sort_values(by='MSE_D')


mean_MSE_D = mean(MSE)
std_MSE_D =stdev(MSE)
print(f' The mean of the mean squared errors is {mean_MSE_D}')
print(f' The standard deviation of the mean squared errors is {std_MSE_D}')

 The mean of the mean squared errors is 351.96636692423374
 The standard deviation of the mean squared errors is 108.30591596304117

## Compare the results between different model setting

In [92]:
data = {'Part': ['A', 'B', 'C', 'D'],
        'mean': [mean_MSE_A, mean_MSE_B, mean_MSE_C, mean_MSE_D], 
        'std': [std_MSE_A, std_MSE_B, std_MSE_C, std_MSE_D]
        }

df = pd.DataFrame(data)
pd.options.display.float_format = '{:,.2f}'.format
display (df)

  Part   mean    std
0    A 335.77 425.64
1    B 365.33  96.34
2    C 170.46  14.72
3    D 351.97 108.31